*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
}

header {
    height: 80px;
}

header,
footer {
    background: #6C63FF;
}

.btn {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;

    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}